/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-lw-soromanga-block {
	border: 1px dotted #f00;

	.block-editor-plain-text{
		width: 50%;
		font-size: 13px;
	}

	.soromaga_preview{
		position: absolute;
		top: 0;
		left: 60%;
		width: 40%;	
		background-color: #ffffff80;
		transform: scale(0.5);
		transform-origin: top left;
	}
}
	